
.picture {
  width: 100%;
  height: 35em;
  background-image: url(parisRB.jpg);
  background-position: center;
  background-size: cover;
}

.filter {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

.padding-small {
  padding-top: 22px;
}

.next-meetup {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 0px;
  color: white;
  height: 100%;
  p, strong {
    font-size: 18px;
  }
  
  a {
    color: white ;
    &:hover {
      color: #c5424c;
      text-decoration: none;
    }
  }
}

#map {
  height: 150px;
  background-color: black;
  border-radius: 3px;
}


.icon-margin {
  padding-top: 20px;
}
.fa-twitter,
.fa-github-alt, 
.fa-meetup {
  font-size: 3em;
}

.address-meetup {
  margin-bottom: 20px;
}

.btn-landingpage-red {
  width: 150px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  &:hover {
    background-color: white;
    color: #c5424c;
    text-decoration: none;
  }
}

.button-jobs {
  padding: 10px;
  margin-top: 10px;
}

.btn-landingpage-white {
  width: 150px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #c5424c;
  border-radius: 10px;
  color: #c5424c;
  &:hover {
    background-color: #c5424c ;
    color: white;
    text-decoration: none;
  }
}

.fa {
  color: white;
  &:hover {
    color: #c5424c;
  }
}

.main-content {
  font-weight: bold;

  h1, p {
    text-align: center;

  }

  form {
    text-align: left;
  }

  .text-left {
    text-align: left;
  }
}

body > footer p {
  padding: 1em 0;
  text-align: center;

  a {
    color: #5D2026;
    padding: 0 2em;

    &:hover, &:active, &:focus {
      color: #5D2026;
    }

    &:visited {
      color: lighten(#5D2026, 20%);
    }
  }
}

.section {
  padding: 2em 0 3em;

  header {
    margin-bottom: 2em;
  }
}

.section-guests,
.section-page,
.section-sponsors,
.section-talks {
  color: #FFF;
}

.section-guests,
.section-page {
  a {
    color: #FFF;
    text-decoration: underline;
  }
}

.section-guests,
.section-page {
  background-color: #c5424c;
}

.section-ellipsis,
.section-you {
  color: rgb(93, 32, 38);
}

.section-sponsors {
  background-color: #c5424c;
}

.section-talks {
  background-color: rgb(197, 66, 76);
}

.section-guests {
  cite p {
    font-size: .9em;
    font-weight: normal;
  }
}

.sponsor {
  margin-bottom: 1em;
  text-align: center;
}

.block {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 1em 15px 1em;
small {
    font-size: .7em;
  }
}

.faq {
  h2 {
    font-size: 1em;
  }

  p {
    text-align: left;
    color: #CCC;
    font-weight: normal;
    margin: .2em 0 1em;
  }

  dl {
    margin: 0;
  }

  dd {
    color: #CCC;
    font-weight: normal;
    margin: .2em 0 1em;
  }
}

.talks-list {
  margin-bottom: 5em;

  li {
    font-weight: normal;
    margin-bottom: 1em;
  }

  .title {
    display: block;
    font-weight: bold;
  }

  .resources {
    display: block;
  }
}

footer {
  
  padding-top: 50px;
  height: 100px;
  a {
    color: black;
    &:hover {
    text-decoration: none;
    color: #c5424c;
    }
  }
}







