.jobsList {
  margin-bottom: 30px;
}

.job {
  padding: 5px;
  font-weight: normal;
  height: 200px;
  text-align: center;

}

.boxes-job {
  padding: 5px;
  color: black;
  // border: 1px solid #EEEEEE;
  height: 100%;
  // border-radius: 5px;
  &:hover,
  &:focus,
  &:active {  
    color: black;
    background-color: #EEEEEE;
  }
}


.job-link {
  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.logo-jobs {
  height: 100px;
}
